.title_cards{
    margin-top: 50px;
    margin-bottom: 30px;
}

.title_cards h2{
    margin-bottom: 8px;
}

.card_list{
    display: flex;
    gap: 10px;
    overflow-x: scroll;
}

.card_list::-webkit-scrollbar{
    display: none;
}

.card_list img{
    width: 240px;
    border-radius: 4px;
    cursor: pointer;
}

.card_list .card{
    position: relative;
}

.card_list .card p{
    font-size: 80%;
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    text-shadow: 0 1px black;
    background: rgba(0, 0, 0, 8);
}

